@import url(https://fonts.googleapis.com/css?family=Dongle:300,regular,700);
@import url(https://fonts.googleapis.com/css?family=League+Gothic:regular);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #C9C9C9;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 15px;
}

.bread-crumbs {
    margin-top: 70px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.33;
    font-family: 'Noto Sans';
    color: #717171;
}

.btn__menu {
    display: none;
    padding: 10px 0;
    background-color: unset;
    outline: unset;
    border: unset;
    cursor: pointer;
    z-index: 10;
    position: relative;
}

.btn__menu--elem {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #8888FD;
    position: relative;
}



.btn__menu--elem::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #8888FD;
    top: 8px;
    left: 0;
}

.btn__menu--elem::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #8888FD;
    top: -8px;
    left: 0;
}


.header__nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-logo-link {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.header__nav-logo-text {
    max-width: 45px;
    font-size: 26px;
    line-height: 50%;
    font-family: Dongle;
    color: #000000;
}

.nav__menu {
    display: flex;
    column-gap: 54px;
    align-items: center;
    font-family: sans-serif;
    /* font-family: 'League Gothic'; */
}

.nav__menu-mob {
    display: none;
    position: fixed;
    padding-top: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    column-gap: 54px;
    align-items: center;
    font-family: sans-serif;
    /* font-family: 'League Gothic'; */
    z-index: 1;
}

.nav__menu-mob--active {
    display: flex;
}

.nav__menu-mob-link {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}

.nav__menu-link:not(:last-child) {
    font-size: 14px;
    line-height: 1.214;
}

.nav__menu-link:last-child {
    padding: 20px 20px;
    font-size: 14px;
    line-height: 0px;
    letter-spacing: 0.02em;
    color: #fff;
    background-color: #8888FD;
    font-weight: 600;
}

.nav__menu-link:not(:last-child):hover {
    text-decoration: underline;
}

.nav__menu-link:last-child:hover {
    background-color: #7b7be7;
}


/* works */
/* works */
/* works */

.works__column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.works__row {
    display: flex;
    column-gap: 10px;

}

.works__item {
    position: relative;
}

.works__item-text {
    width: 470px;
    height: 90px;
    font-size: 16px;
    line-height: 94%;
    color: #fff;
    background-color: #8888FD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    z-index: 5;

}

.works__item::after {
    position: absolute;
    content: '';
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.2s ease-in;
}

.works__item:hover::after {
    background-color: rgba(255, 255, 255, 0.5);
}


.works__item:hover .works__item-text {
    opacity: 1;
}


/* footer */
/* footer */
/* footer */
/* footer */


.footer {
    padding: 50px 0 150px;
}

.footer__line {
    margin: 0 auto 60px;
    max-width: 1140px;
    height: 1px;
    background-color: rgba(156, 156, 156, 1);
}

.footer__row-soc {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.svg__link circle {
    fill: #717171;
}

.svg__link path {
    fill: #E6E6E6;
}

.svg__link:hover circle {
    fill: #8888FD;
}

/* Project */

/* hero */
.hero__img {
    object-fit: cover;
    height: calc(100vh - 80px);
    width: 100%;
}

/*  object */

.object {
    padding: 75px 0 150px;
}

.object__title {
    margin-bottom: 15px;
    font-size: 48px;
    line-height: 1.166;
    font-weight: 800;
    font-family: Raleway;
}

.object__description {
    line-height: 1.25;
    font-family: 'League Gothic';
}

.object__description span {
    font-weight: 700;
}

.object__slider {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 100px;

}

.slide {
    max-height: 840px;
    position: relative;
    /* margin-left: 60px; */
}

.arrow__left,
.arrow__right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
    height: 34px;
    object-fit: cover;
}

.arrow__left {
    left: 62px;
}

.arrow__right {
    right: 62px;
}

.slide__img {

    object-fit: cover;
}

.slide__nav {
    max-height: 840px;
    overflow: hidden;
}

.slide__nav-item {
    display: block;
}

.slide__nav-item:not(:last-child) {
    margin-bottom: 15px;
}

/* Plan */

.container__row {
    display: flex;
}

.plan__img {
    flex-grow: 1;
}

.plan__img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan__img-img {
    margin: 0 auto;
    margin-bottom: 80px;
}

.plan__img-scale {
    float: right
}


.plan__nav {
    display: flex;
    flex-direction: column;
}

.plan__nav-link {
    text-align: right;
    color: #717171;
    font-weight: 700;
    line-height: 1.25;
    transition: color 0.2s ease-in;
}

.plan__nav-link:not(:last-child) {
    margin-bottom: 5px;
}

.plan__nav-link:hover {
    color: #000000;
}

/* PAGE ABOUT START */

.about {
    padding: 95px 0 130px;
}

.about__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: center;
}

.about__row-item {
    width: calc(100% / 3 - 30px);
}

.about__row-photo {
    height: 590px;
    background-color: #9C9C9C;
    margin-bottom: 20px;
}

.about__row-name {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.15;
    margin-bottom: 10px;
    font-family: 'Raleway';

}

.about__row-post {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    font-family: 'Raleway';

}

.about__content {
    margin-top: 80px;
}

/* PAGE ABOUT END */

/* PAGE PRICE START */

.price {}

.container {}

.price__row {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.price__row-item {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: space-between;
}

.price__description {
    font-family: 'Raleway';
}

.price__description h2 {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
}

.price__description ul {
    padding-left: 20px;
}

.price__description li,
.price__description p {
    font-size: 12px;
    line-height: 1.166;
}



.price__price-daedlines p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Raleway';
}

.price__price-star {
    font-family: 'League Gothic';
    font-size: 10px;
    line-height: 1.2;
    color: #717171;
}

.price__price a {
    display: block;
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.166;
    text-align: center;
    color: #000000;
    font-family: 'Raleway';
    text-decoration-line: underline;
}

.price__price a:hover {
    text-decoration: none;
}

.price__price-daedlines {
    display: flex;
    justify-content: space-between;
}

.price__price-daedlines span {
    font-family: 'Radio Canada';
    font-weight: 700;
}

/* PAGE PRICE END */

/* footer__nav */


.footer__navigation {
    margin-top: 150px;
}

.footer__navigation-padding {
    margin-top: 0;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__nav-link {
    font-weight: 700;
    line-height: 1.25;
    color: #717171;
    transition: color 0.2s ease-in;
    position: relative;
}

.footer__nav-link:hover {
    color: #000000;
}

.footer__nav-link:first-child {
    padding-left: 10px;
}

.footer__nav-link:first-child::before {
    content: '';
    position: absolute;
    background-image: url('./../img/arrow-left-small.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 6px;
    height: 12px;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
}

.footer__nav-link:last-child {
    padding-right: 10px;
}

.footer__nav-link:last-child::after {
    content: '';
    position: absolute;
    background-image: url('./../img/arrow-right-small.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 6px;
    height: 12px;
    top: 55%;
    transform: translateY(-50%);
    right: 0;
}


@media(max-width: 1100px) {

    .works__item-text {
        width: 370px;
        height: 80px;
    }

    .price__row {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    
    .price__row-item {
        max-width: unset;
        width: calc((100% / 2) - 20px);
    }
    .about__row-item {
        width: calc(100% / 2 - 30px);
    }

}

@media (max-width:930px) {
    .object__slider {
        flex-direction: column;
        column-gap: unset;
        row-gap: 30px;
    }

    .slide__nav {
        display: flex;
    }

    .slide__nav-item:not(:last-child) {
        margin-bottom: 0px;
    }

    .slide__nav-item:not(:last-child) {
        margin-right: 10px;
    }

    .container__row {
        flex-direction: column-reverse;
    }
}


@media(max-width: 800px) {

    .works__item-text {
        width: 270px;
        height: 80px;
    }
}


@media (max-width:630px) {

    .btn__menu {
        display: block;
    }

    .nav__menu {
        display: none;
    }

    .object__title {
        font-size: 36px;
    }

    .footer__nav {
        flex-direction: column;
        row-gap: 15px;
    }
    
    .works__row--column {
        flex-direction: column;
        row-gap: 10px;
    }

    .price__row {
        row-gap: unset;
    }
    
    .price__row-item {
        width: 100%;
    }

    .about__row {
        column-gap: unset;
    }
    
    .about__row-item {
        width: 100%;
    }
}